<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form class="form-box" action="/user/register" method="POST">
      <h4>회원가입</h4>
      <input name="name"> <- name<br>
      <input name="email"> <- email<br>
      <input name="password"> <- password<br>
      <button type="submit"><a href="/user/login">전송</a></button>
  </form> 

</body>
</html>